/**
 * File Paths
*/

$imgDir: '../../frontend/images';

/**
 * Breadcrumbs
*/

$breadcrumb-bg: #F7F7F4;
$breadcrumb-padding-y: 5px;

/**
 * Tables
*/

$table-bg: white;
$table-border-width: 0;
$table-hover-bg: $green;
$table-hover-color: #FFF;
$table-head-bg: #484848;
$table-head-color: white;

/**
 * Cards
*/

$card-border-radius: .5rem;